if userData != null
    for msg in userData
        .card.my-3.col-12
            .card-body
                p.card-text Expense: #{msg.expense}
                p.card-text Place: #{msg.place}
                p.card-text Money: #{msg.money}
                p.card-text Date: #{msg.date}

else
    p.alert.alert-info(role='alert')
        | There is currently no data in the AccountBook.

