form.form-inline(action="/registerAB", method="POST")
    label.sr-only(for="expense") Expense
    .input-group.mb-2.mr-sm-2
        .input-group-prepend
            .input-group-text Expense
        input#expense.form-control(type="text", name="expense", required="")

    label.sr-only(for="receipt") Receipt
    .input-group.mb-2.mr-sm-2
        .input-group-prepend
            .input-group-text Receipt
        input#receipt.form-control(type="file", name="receipt", accept=".jpg, .jpeg, .png")

    label.sr-only(for="money") Money
    .input-group.mb-2.mr-sm-2
        .input-group-prepend
            .input-group-text Money
        input#money.form-control(type="number", name="money", required="")

    label.sr-only(for="date") Date
    .input-group.mb-2.mr-sm-2
        .input-group-prepend
            .input-group-text Date
        input#date.form-control(type="date", name="date", required="")


    button.btn.btn-primary.mb-2(type="submit") 가계부 등록

